html {
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(0deg, #2495db, #56a9dc);
}

#root {
  width: 100%;
}

.header{
  width: 100%;
  height: 150px;
  marginTop: 50px;
  color: white;
}

h1 {
  font-weight: 300;
}

.input-hours {
  border-radius: 4px;
  color: #fff;
  display: block;
  height: 50px;
  line-height: 40px;
  margin-bottom: 8px;
  outline: 0;
  padding: 0 16px 0 16px;
  width: 30px;
  background-color: rgba(0,0,0,0.4);
  border: none;
  font-size: x-large;
}

/* http://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
